{% extends 'base.html.twig' %}

{% block title %}My name{% endblock %}

{% block body %}
    <style>
        h1 {
            text-align: center;
            margin-top: 2rem;
        }

        .form {
            margin: 5rem auto;
            width: 80%;
        }

        input[type=text] {
            text-align: center;
            width: 50%;
            margin: 0 auto;
        }

        .btn {
            width: 50%;
            margin: 1rem auto;
        }
    </style>
    <div>
    <a href="{{ path('about') }}" class="link-primary">About me</a>
    <h1>Hello {{ name }}</h1>
    <div class="form">
        <form class="row g-3" method="post" action="{{ path('change-name') }}">
            <div class="row">
                <div class="col">
                    <input type="text" name="fullname" class="form-control" placeholder="First name"
                           aria-label="First name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
{% endblock %}